/**
 *  KINSTA PAGE BAR
 *  Shown at the top of all admin pages
*/
    .kinsta-page-bar {
        max-width:1133px;
        box-sizing: border-box;
        background: #fff;
        position: relative;
        box-sizing: border-box;
        padding: 16px 22px;
        margin-top:20px;
        display:flex;
        align-items: center;
        margin-bottom:33px;
        border: 1px solid #E4E4E4;
    }

    .kinsta-page-bar h3 {
        margin:0px;
        color:#555;
        font-weight:300;
        border-left:1px solid rgba(0,0,0,0.1);
        padding: 0 0 0 11px;
        font-size:15px;
        margin-left:11px;
    }

    /**
     *  GENERAL STRUCTURAL ELEMENTS
     *  Used on all pages to create the sidebar and content structure and other
     *  common elements
    */

    .kinsta-page-wrapper *{
        box-sizing: border-box;
    }

    .kinsta-page-wrapper {
        display:flex;
    }

    .kinsta-sidebar {
        flex: 0 0 280px;
        width:280px;
        margin-left:33px;
    }

    .kinsta-main-content {
        max-width:820px;
        width:100%;
    }

    .kinsta-flex {
        display:flex;
        align-items: center;
    }

    /**
     *  KINSTA BOX
     *  Used all over on the admin, a structure with a deep blue header and
     *  a white content area
    */

    .kinsta-box-title-bar {
        background: #42495B;
        padding:16px;
        display:block;
        width:100%;
    }

    .kinsta-box-title-bar h3 {
        color :#fff;
        font-weight:400;
        margin:0px;
        font-size:14px;
        padding:0px;
    }

    .kinsta-box-title-bar__small {
        padding:11px 16px;
    }

    .kinsta-box-title-bar__small h3 {
        font-size:13px;
    }

    .kinsta-box-content {
        background: #fff;
        padding:22px;
        border:1px solid #E4E4E4;
        border-top:0px;
    }

    /**
     *  TYPOGRAPHY
     *  Some basic typography rules on our admin pages
    */

    .kinsta-page-wrapper .mb0 { margin-bottom:0px }
    .kinsta-page-wrapper .mb6 { margin-bottom:6px }
    .kinsta-page-wrapper .mb11 { margin-bottom:11px }
    .kinsta-page-wrapper .mb22 { margin-bottom:22px }
    .kinsta-page-wrapper .mb33 { margin-bottom:33px }
    .kinsta-page-wrapper .mb44 { margin-bottom:44px }

    .kinsta-page-wrapper .mr0 { margin-right:0px }
    .kinsta-page-wrapper .mr6 { margin-right:6px }
    .kinsta-page-wrapper .mr11 { margin-right:11px }
    .kinsta-page-wrapper .mr22 { margin-right:22px }
    .kinsta-page-wrapper .mr33 { margin-right:33px }
    .kinsta-page-wrapper .mr44 { margin-right:44px }

    .kinsta-page-wrapper p {
        margin:0 0 22px 0;
        line-height:28px;
        font-weight: 300;
        font-size:16px;
    }

    .kinsta-page-wrapper .content > *:last-child {
        margin-bottom:0px
    }

    /**
     *  KINSTA WIDGET
     *  Styles common to all widgets
    */

    .kinsta-widget {
        margin-bottom:33px;
    }


    /**
     * KINSTA NUMBER FIELD
     */

     .kinsta-number-field-container {
         padding:3px 0;
     }

     .kinsta-number-field-container input {
        width: 68px;
        color: #888;
        text-align:Center;
        box-sizing: border-box;
        background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
        background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
        box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-right:11px;
     }

    /**
     *  ANIMATED SWITCH CHECKBOX
     *  Full CSS animated sliding yes/no indicator
    */

    .kinsta-switch-container {
        display: flex;
        align-items: center;
        padding:6px 0;
    }


    .kinsta-switch {
    	position: relative;
    	display: inline-block;
    	vertical-align: top;
    	width: 70px;
    	height: 30px;
    	padding: 3px;
        margin-right:11px;
    	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    	border-radius: 18px;
    	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    	cursor: pointer;
    }

    .kinsta-switch-input {
    	position: absolute;
    	top: 0;
    	left: 0;
    	opacity: 0;
    }

    .kinsta-switch-label {
    	position: relative;
    	display: block;
    	height: inherit;
    	font-size: 11px;
        font-weight: 600;
    	text-transform: uppercase;
    	background: #eceeef;
    	border-radius: inherit;
    	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    }

    .kinsta-switch-label:before, .kinsta-switch-label:after {
    	position: absolute;
    	top: 50%;
    	margin-top: -.5em;
    	line-height: 1;
    	-webkit-transition: inherit;
    	-moz-transition: inherit;
    	-o-transition: inherit;
    	transition: inherit;
    }

    .kinsta-switch-label:before {
    	content: attr(data-off);
    	right: 11px;
    	color: #aaaaaa;
    	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    }

    .kinsta-switch-label:after {
    	content: attr(data-on);
    	left: 11px;
    	color: #FFFFFF;
    	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    	opacity: 0;
    }

    .kinsta-switch-input:checked ~ .kinsta-switch-label {
    	background: #8ce196;
    	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
    }

    .kinsta-switch-input:checked ~ .kinsta-switch-label:before {
    	opacity: 0;
    }

    .kinsta-switch-input:checked ~ .kinsta-switch-label:after {
    	opacity: 1;
    }

    .kinsta-switch-handle {
    	position: absolute;
    	top: 4px;
    	left: 4px;
    	width: 28px;
    	height: 28px;
    	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    	border-radius: 100%;
    	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }

    .kinsta-switch-handle:before {
    	content: "";
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	margin: -6px 0 0 -6px;
    	width: 12px;
    	height: 12px;
    	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    	border-radius: 6px;
    	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    }

    .kinsta-switch-input:checked ~ .kinsta-switch-handle {
    	left: 40px;
    	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    }

    .kinsta-switch-label, .kinsta-switch-handle {
    	transition: All 0.3s ease;
    	-webkit-transition: All 0.3s ease;
    	-moz-transition: All 0.3s ease;
    	-o-transition: All 0.3s ease;
    }


    /**
     *  KINSTA BUTTON
     *  Basic buttons styles and progress button addon
    */

    .kinsta-button {
        display:inline-block;
        box-sizing: border-box;
        padding: 11px 22px;
        outline: none;
        border: none;
        background-color: #5DC0C0;
        color: #fff;
        font-weight:400;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size:14px;
        position: relative;
        overflow: hidden;
        -webkit-appearance:none;
        text-decoration: none;
        cursor:pointer;
        transition: background 200ms linear;
        font-weight: 300;
    }

    .kinsta-button:hover {
        background: #70D3D3;
    }

    .kinsta-button__full {
        display:block;
        text-align: center;
        display: block;
        width:100%;
    }

    .kinsta-button__full-left {
        display:block;
        text-align: left;
        display: block;
        width:100%;
    }

    .kinsta-button__large {
        padding:22px;
    }


    .kinsta-button__white {
        background:#fff;
        color: #888;
    }

    .kinsta-button__white:hover {
        background:#f1f1f1;
    }


    .kinsta-button .progress {
      position:absolute;
      left:0px;
      bottom:0px;
      width:100%;
      height:12px;
    }

    .kinsta-button .progress-bar {
      height: 12px;
      width:0%;
      background: rgba(0, 0, 0, 0.25);

    }

    .kinsta-button .text {
        display:inline-block
    }

    /**
     *  KINSTA DROPDOWN
     *  Styles for the dropdown functionality
    */

    .kinsta-dropdown {
        position: relative;
        display: inline-block;
    }

    .kinsta-dropdown__full {
        display: block;
        width:100%;
    }

    .kinsta-dropdown > .kinsta-button {
        background-image: url('../images/arrow-down.svg');
        background-repeat: no-repeat;
        background-position: calc( 100% - 14px ) calc( 50% - 1px );
        background-size: 13px;
        padding-right:44px;
    }

    .kinsta-dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .kinsta-dropdown-content > a, .kinsta-dropdown-content > span {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        cursor:pointer;
    }

    .kinsta-dropdown-content > a:hover, .kinsta-dropdown-content > span:hover {
        background-color: #f1f1f1;
    }

    .kinsta-dropdown:hover .kinsta-dropdown-content {
        display: block;
    }

    .kinsta-dropdown:hover > .kinsta-button {
        background-color: #70D3D3;
    }
